.accordion {
    .card-header {
        h4 {
            span , ion-button {
                vertical-align: top;
            }
        }
        button {
            color: black !important;
        }
        background-color: rgb(245,245,245);
        border: 1px solid rgb(245,245,245);
    }
    
}
.faqMain {
    --ion-background-color:rgb(245,245,245);
}