<ion-content class="faqMain ion-padding" >
<div class="container mt-5">
  <div class="SearchForm mt-5 p-5 text-center">
    <h1 style="font-size: 7vmin;">Avez-vous une question?</h1>
    <h4 style="font-size: 3vmin;">Si vous avez des questions, vous pouvez vérifier ci-dessous ou entrer ce que vous recherchez.</h4>
    <div class="row form-group mt-5">
      <div class="col-lg-10 col-md-12 input-container" style="padding: 0px; padding-left: 20px; text-align: left; background-color: white;">
        <ion-input  type="text" placeholder="Saisissez votre Rechercher"></ion-input>
      </div>
      <div class="col-lg-2 col-md-12" style="background-color: var(--ion-color-primary);">
        <ion-button fill="clear" color="light" expand="full" class="ion-no-padding">Rechercher</ion-button>
      </div>
      
    </div>
  </div>
  
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <span>Je souhaite créer une agence de location virtuelle.</span>
          <ion-button fill="clear" color="dark" style="float: right;" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" >
            <ion-icon name="add" slot="icon-only"></ion-icon>
          </ion-button>
        </h2>
      </div>
  
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          Votre agence virtuelle Bridgy reflète votre agence de location de voiture réelle. Il vous faut un registre de commerce vous autorisant l’exercice de votre activité. 

          Pour créer votre agence, veuillez suivre les étapes d’en bas :

        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <span>Puis-je créer plusieurs agences de location virtuelles ?
          </span>
          <ion-button fill="clear" color="dark" style="float: right;" data-toggle="collapse" data-target="#collapsetwo" aria-expanded="true" aria-controls="collapsetwo" >
            <ion-icon name="add" slot="icon-only"></ion-icon>
          </ion-button>
        </h2>
      </div>
  
      <div id="collapsetwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          Oui. Vous pouvez créer plusieurs agences de location virtuelle avec votre compte Bridgy. Vous pouvez en d’autres termes gérer les voitures de plusieurs agences physique. 

Veuillez suivre les étapes suivantes pour créer plusieurs agences. 

                    
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <span>Je souhaite fermer mon agence virtuelle les Week ends.</span>
          <ion-button fill="clear" color="dark" style="float: right;" data-toggle="collapse" data-target="#collapsethree" aria-expanded="true" aria-controls="collapsethree" >
            <ion-icon name="add" slot="icon-only"></ion-icon>
          </ion-button>
        </h2>
      </div>
  
      <div id="collapsethree" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          Oui. Vous pouvez configurer les horaires ainsi que les jours d’ouvertures de votre agence virtuelle. 

          Veuillez suivre les étapes suivantes pour gérer la fermeture et l’ouverture de votre agence virtuelle.
                    
        </div>
      </div>
    </div>
  </div>
</div>

  
</ion-content>
