<ion-header>
  <ion-toolbar>
      <ion-buttons slot="end" >
        <ion-button (click)="closeModal('close')">
          <ion-icon name="close" ></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-progress-bar color="primary" [value]="steps"></ion-progress-bar>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-slides  #bookingOut [options]="">
    
    <ion-slide>
      <div class="container">
        <div class="row ustify-content-center align-items-center">
          <div class="col-12 pb-3 text-left">
            <div class="header">
              <h6 id="subtitle" class="ion-no-padding">{{ 'MODAL_BOOKING_OUT.SELECT_PERIOD'  | translate }}</h6>
              <!--<h2 id="title" class="ion-no-padding">Confirmez le modèle de votre voiture</h2>-->
            </div>
            <ion-item-divider></ion-item-divider>
            
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="marque">{{ 'MODAL_BOOKING_OUT.VEHICLE'  | translate }}</label>
                  <select [(ngModel)]="car"  (change)="updateSelect()">
                    <option [ngValue]="item" *ngFor="let item of cars" data-secondary-text="item.brand" data-icon="this.glb.hostServer + item.FrontPic" class="rounded-circle">{{item.model}}</option>
                  </select>
              </div>
            </div>
            <div class="form-row">
              <form class="form-inline">
                <div class="form-group">
                  <div class="input-group">
                    <ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [displayMonths]="2" [minDate]="isToday" [maxDate] ="{year: 2099, month: 12, day: 31}" [markDisabled]="markDisabled" [dayTemplate]="t" outsideDays="hidden">
                    </ngb-datepicker>
                    <ng-template #t let-date let-focused="focused">
                      <span class="custom-day"
                            [class.focused]="focused"
                            [class.range]="isRange(date)"
                            [class.disabled]="isDisable(date)"
                            [class.faded]="isHovered(date) || isInside(date)"
                            (mouseenter)="hoveredDate = date"
                            (mouseleave)="hoveredDate = null">
                        {{ date.day }}
                      </span>
                    </ng-template>
                  </div>
                </div>
              </form>
            </div>
            <div class="form-row"> 
            <ngb-timepicker #dt1 [(ngModel)]="ST" [minuteStep]="15"></ngb-timepicker>
            <span> </span>
            <ngb-timepicker #dt2 [(ngModel)]="ET" [minuteStep]="15"></ngb-timepicker>
             </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <div class="alert alert-info shadow-sm">
                  {{ 'MODAL_BOOKING_OUT.MSG_1'  | translate }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ion-slide>

    

    <ion-slide>
          <div class="container">
            <div class="row ustify-content-center align-items-center">
              <div class="col-12 pb-3 text-left">
                <div class="header">
                  <h6 id="subtitle" class="ion-no-padding">{{ 'MODAL_BOOKING_OUT.MSG_2_1'  | translate }}</h6>
                </div>
                <ion-item-divider></ion-item-divider>
                
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                            <ion-icon name="person"></ion-icon>
                        </div>
                      </div>
                      <input type="text" class="form-control" id="control_id" placeholder="{{ 'MODAL_BOOKING_OUT.NAME'  | translate }}" [(ngModel)]="fname">
                    </div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-12">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                            <ion-icon name="person"></ion-icon>
                        </div>
                      </div>
                      <input type="text" class="form-control" id="control_id" placeholder="{{ 'MODAL_BOOKING_OUT.NICKNAME'  | translate }}" [(ngModel)]="lname">
                    </div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-12">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                            <ion-icon name="navigate"></ion-icon>
                        </div>
                      </div>
                      <input type="text" class="form-control" id="Adresse" placeholder="{{ 'MODAL_BOOKING_OUT.ADDRESS'  | translate }}" [(ngModel)]="adresse">
                    </div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-12">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                            <ion-icon name="call"></ion-icon>
                        </div>
                      </div>
                      <input type="text" class="form-control" id="tel" placeholder="{{ 'MODAL_BOOKING_OUT.TELEPHONE'  | translate }}" [(ngModel)]="telephone">
                    </div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-12">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                            <ion-icon name="mail"></ion-icon>
                        </div>
                      </div>
                      <input type="text" class="form-control" id="email" placeholder="{{ 'MODAL_BOOKING_OUT.EMAIL'  | translate }}" [(ngModel)]="email">
                    </div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-12">
                      <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                                <ion-icon name="calendar"></ion-icon>
                            </div>
                          </div>
                          <ion-datetime class="form-control text-left" id="dob_exp" placeholder="{{ 'MODAL_BOOKING_OUT.EXPIRATION_DATE'  | translate }}" displayFormat="YYYY-MM-DD" [(ngModel)]="licenseDate"></ion-datetime>
                      </div>
                  </div>
                </div>

                <ion-item (click)="uploadPic('recto')" id="rectoitem">
                   <ion-thumbnail slot="start">
                      <img src="{{this.glb.hostServer + this.licenseRecro}}" id="rectopreview" />
                        <input type="file" id="rectofile" style="display: none;">
                      </ion-thumbnail>
                    <ion-label>
                      {{ 'MODAL_BOOKING_OUT.DRIVING_LICENSE_RECTO'  | translate }}
                    <!--<p><ion-progress-bar *ngIf="this.formData" [attr.color]="this.formData === 1 ? 'success' : 'primary'" value="this.formData"></ion-progress-bar></p>-->
                  </ion-label>
                </ion-item>
                <ion-item (click)="uploadPic('verso')" id="versoitem">
                  <ion-thumbnail slot="start">
                    <img src="{{ this.glb.hostServer + this.licenseVerso}}" id="versopreview" />
                       <input type="file" id="versofile" style="display: none;">
                    </ion-thumbnail>
                    <ion-label>
                      {{ 'MODAL_BOOKING_OUT.DRIVING_LICENSE_VERSO'  | translate }}
                      <!--<p><ion-progress-bar *ngIf="this.formData" [attr.color]="this.formData === 1 ? 'success' : 'primary'" value="this.formData"></ion-progress-bar></p>-->
                    </ion-label>
                </ion-item>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <div class="alert alert-info shadow-sm">
                      {{ 'MODAL_BOOKING_OUT.MSG2_2'  | translate }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ion-slide>
 


      <ion-slide>
        <div class="container">
          <div class="row ustify-content-center align-items-center">
            <div class="col-12 pb-3 text-left">
              <div class="header">
                <h6 id="subtitle" class="ion-no-padding">{{ 'MODAL_BOOKING_OUT.MSG_PRICE'  | translate }}</h6>
              </div>
              <ion-item-divider></ion-item-divider>
              <div class="form-row">
                <div class="form-group col-12 text-center" style="flex-direction: column;">
                  <div class="input-group">
                    <input type="number" class="form-control" id="price" (input)="onSearchChange($event.target.value)" [(ngModel)]="this.price">
                    <div class="input-group-append">
                      <span class="input-group-text">{{ 'MODAL_ADD_CAR.EURO_DAY'  | translate }}</span>
                    </div>
                </div>
                </div>
              </div>
              <!-- duration -->
              <div class="form-row">
                <div class="form-group col-12 text-center" style="flex-direction: column;">
                  <div class="input-group">
                    <input type="number" class="form-control" id="Caution"  [(ngModel)]="this.dayDiff">
                    <div class="input-group-append">
                      <span class="input-group-text">{{ 'MODAL_AH.DAY'  | translate }}</span>
                    </div>
                </div>
                </div>
              </div>
              <!-- récap price -->
              <div class="form-row">
                <div class="form-group col-12 text-center" style="flex-direction: column;">
                  <div class="input-group">
                    <input type="number" class="form-control" id="Total"  [(ngModel)]="this.totalPrice">
                    <div class="input-group-append">
                      <span class="input-group-text">{{ 'MODAL_ADD_CAR.EURO_DAY'  | translate }}</span>
                    </div>
                </div>
                </div>
              </div>
              
              <div class="form-row">
                <div class="form-group col-md-12">
                  <div class="alert alert-info shadow-sm">
                    {{ 'MODAL_BOOKING_OUT.MSG_3'  | translate }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ion-slide>

      <!--<ion-slide>
        
      </ion-slide>-->

  </ion-slides>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end" class="ion-padding">
      <ion-button color="dark" (click)="slidePrev(bookingOut)" *ngIf="this.steps !== 0">
        <ion-icon name="arrow-round-back" slot="start"></ion-icon>
        {{ 'MODAL_ADD_CAR.PREVIOUS'  | translate }}
      </ion-button>
      <ion-button color="primary" fill="solid" (click)="slideNext(bookingOut)">
        <span *ngIf="this.step < 2">{{ 'MODAL_ADD_CAR.NEXT'  | translate }}</span>
        <span *ngIf="this.step === 2 ">{{ 'MODAL_ADD_CAR.CONFIRM'  | translate }}</span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>


