<ion-content class="ion-padding" >

  <div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{{ 'WALLET.THEO_BALANCE'  | translate }}</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{this.wallet.theoBalance}}</div>
            </div>
            <ion-icon slot="start" src="../../../assets/icons/wallet_theo.svg" style="font-size: 75px;color:#595959;"></ion-icon>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">{{ 'WALLET.REAL_BALANCE'  | translate }}</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{this.wallet.realBalance}}</div>
            </div>
            <ion-icon slot="start" src="../../../assets/icons/wallet_bridgy.svg" style="font-size: 75px; color:#595959;"></ion-icon>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{{ 'WALLET.OUTSIDE_BRIDGY'  | translate }}</div>
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                  <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{this.wallet.outBalance}}</div>
                </div>
                <div class="col">
                  <div class="progress progress-sm mr-2">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            </div>
            <ion-icon slot="start" src="../../../assets/icons/wallet_money.svg" style="font-size: 75px;color:#595959"></ion-icon>
          </div>
        </div>
      </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">{{ 'WALLET.TOTAL_BALANCE'  | translate }}</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{this.total}}</div>
            </div>
            <ion-icon slot="start" src="../../../assets/icons/wallet_total.svg" style="font-size: 75px;color:#595959;"></ion-icon>
          </div>
        </div>
      </div>
    </div>
  </div>

    


    <ion-item-divider style="margin-bottom: 30px;"></ion-item-divider>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" (click)="setTabVal('pe')">
        <span class="nav-link" [ngClass]="{'active': showTab('pe')}" id="pe-tab" data-toggle="tab" href="#pe" role="tab" aria-controls="pe" aria-selected="true">{{ 'WALLET.PAIEMENT_MADE'  | translate }}</span>
      </li>
      <li class="nav-item" (click)="setTabVal('pa')">
        <span class="nav-link" [ngClass]="{'active': showTab('pa')}" id="pa-tab" data-toggle="tab" href="#pa" role="tab" aria-controls="pa" aria-selected="true">{{ 'WALLET.EXPECTED_PAIEMENT'  | translate }}</span>
      </li>
      <li class="nav-item" (click)="setTabVal('pf')">
        <span class="nav-link" [ngClass]="{'active': showTab('pf')}" id="pf-tab" data-toggle="tab" href="#pf" role="tab" aria-controls="pf" aria-selected="false">{{ 'WALLET.PAIMENT_LOC'  | translate }}</span>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade"  [ngClass]="{'active show': showTab('pe')}" id="pe" role="tabpanel" aria-labelledby="pe-tab">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
                <tr>
                  <th>{{ 'WALLET.Number'  | translate }}</th>
                  <th>{{ 'WALLET.DATE'  | translate }}</th>
                  <th>{{ 'WALLET.DURATION'  | translate }}</th>
                  <th>{{ 'WALLET.AMOUNT'  | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of histo_wallet; let i = index">
                  <th scope="row">{{i + 1}}</th>
                  <td>{{item['paiement_date']}}</td>
                  <td>{{item['month']}}/{{item['year']}}</td>
                  <td>{{item['value']}}</td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
      
      <div class="tab-pane fade"  [ngClass]="{'active show': showTab('pa')}" id="pa" role="tabpanel" aria-labelledby="pa-tab">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
                <tr>
                  <th>{{ 'WALLET.Number'  | translate }}</th>
                  <th>{{ 'WALLET.DATE_EXCP'  | translate }}</th>
                  <th>{{ 'WALLET.DURATION'  | translate }}</th>
                  <th>{{ 'WALLET.AMOUNT'  | translate }}</th>
                  <th>{{ 'WALLET.PAID'  | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                  <th scope="row">{{1}}</th>
                  <td>{{wallet['next_pay']}}</td>
                  <td>{{s_month_h}}/{{s_year}} - {{e_month_h}}/{{e_year}} </td>
                  <td>{{wallet['realBalance']}}</td>
                  <ion-button class="table-link" (click)="pay()">
                    <span class="fa-stack">
                        <i class="fa fa-university fa-stack-1x fa-inverse"></i>
                    </span>
                    {{ 'WALLET.PAID_REQ'  | translate }}
                  </ion-button>
                </tr>
            </tbody>
          </table>
        </div>
      </div>


      <div class="tab-pane fade" id="pf"  [ngClass]="{'active show': showTab('pf')}"  role="tabpanel" aria-labelledby="pf-tab">
          <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                    <tr>
                      <th>{{ 'WALLET.INVOICE'  | translate }}</th>
                      <th>{{ 'WALLET.DATE'  | translate }}</th>
                      <th>{{ 'MODAL_BOOKING_OUT.VEHICLE'  | translate }}</th>
                      <th>{{ 'WALLET.AMOUNT'  | translate }}</th>
                      <th>{{ 'WALLET.VALIDATED'  | translate }}</th>
                      <th>{{ 'WALLET.DATE_EXCP'  | translate }}</th>
                      
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of booking; let i = index">
                      <th scope="row">{{i}}</th>
                      <td>{{item['postdate']}}</td>
                      <td>{{item['model']}} {{item['brand']}} - {{item['vin']}}</td>
                      <td>{{item['com_agency']}}</td>
                      <td>{{item['valid_paiement_h']}}</td>
                      <td>{{item['postdate']}}</td>
                    </tr>
                </tbody>
              </table>
            </div>
      </div>
    </div>
</ion-content>