<ion-header>
  <ion-toolbar>
    <ion-title><h1>BridgeDz</h1></ion-title>
    <ion-buttons slot='end'>
      <ion-button (click)="closeModal()">
        <ion-icon name="close" slot="start"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-12 text-center pb-3">
       <div class="header pt-4 pb-4">
        
        <h4 *ngIf="this.type === 'create'"> {{ 'MODAL_AGENCY_MODAL.CREATE'  | translate }} </h4>
        <h4 *ngIf="this.type !== 'create'"> {{ 'MODAL_AGENCY_MODAL.SELECT_ACCOUNT'  | translate }}</h4>
       </div>

        <hr>
        <div *ngIf="this.type === 'create'">
          <div class="login-input alert alert-danger" role="alert" id="loginerror" aria-hidden="true">
          </div>
          <div class="form-row mt-3">
            <div class="form-group col-md-12">
              <input type="text" class="form-control" placeholder="{{ 'MODAL_AGENCY_MODAL.NAME'  | translate }}" [(ngModel)]="this.newAgency.nom">  
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
                <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <ion-icon name="mail"></ion-icon>
                      </div>
                    </div>
                    <input type="email" class="form-control" id="emailid" placeholder="{{ 'MODAL_AGENCY_MODAL.EMAIL'  | translate }}" pattern ="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="this.newAgency.bemail">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                  <select class="form-control" id="inputPassword4" [(ngModel)]="this.newAgency.cpays">
                    <option value="0" selected>{{ 'MODAL_AGENCY_MODAL.COUNTRY'  | translate }}</option>
                    <option value="algeria">{{ 'MODAL_AGENCY_MODAL.ALGERIA'  | translate }}</option>
                    <option value="france">{{ 'MODAL_AGENCY_MODAL.FRANCE'  | translate }}</option>
                  </select>
                </div>
            </div>
            <div class="form-group col-md-18">
                <div class="input-group">
                      <div class="input-group-text">
                          <ion-icon name="phone-portrait"></ion-icon>
                      </div>
                    <input type="text" class="form-control" id="mobileid" placeholder="{{ 'MODAL_AGENCY_MODAL.MOBILE'  | translate }}" pattern ="/^(?:0|\(?\+213\)?\s?|00213\s?)[1-79](?:[\.\-\s]?\d\d){4}/" [(ngModel)]="this.newAgency.bmobile">
                </div>
            </div>
        </div>

          <div class="form-row">
            <div class="form-group col-md-12">
                <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                          <ion-icon name="calendar"></ion-icon>
                      </div>
                    </div>
                    <ion-datetime class="form-control text-left" id="dobid" placeholder="{{ 'MODAL_AGENCY_MODAL.DOC'  | translate }}" displayFormat="YYYY-MM-DD" [(ngModel)]="this.newAgency.cdate"></ion-datetime>
                </div>
            </div>
          </div>

        

        <div class="form-row">
          <div class="form-group col-md-12">
            <input type="text" class="form-control" id="inputAddress" placeholder="{{ 'MODAL_AGENCY_MODAL.ADDRESS'  | translate }}" [(ngModel)]="this.newAgency.address">
          </div>
        </div>
          <ion-button color="primary" expand="block" (click)="createAgency()">{{ 'MODAL_AGENCY_MODAL.CREAT'  | translate }}</ion-button>
        </div>
        <div *ngIf="this.type !== 'create'">
          <ion-item-group>
            <ion-item *ngFor="let account of accountsList; let i = index">
              <ion-avatar slot="start">
                <img src="{{glb.hostServer + account.picture}}">
              </ion-avatar>
              <ion-label>
                <h2>{{account.name}}</h2>
                <p>{{account.businessEmail}}</p>
              </ion-label>
              <ion-button fill="clear" color="dark" (click)="gotoMyAgency(i)">{{ 'MODAL_AGENCY_MODAL.SELECT'  | translate }}</ion-button>
            </ion-item>
            <ion-item>
              <ion-avatar slot="start">
                <ion-icon name="add-circle-outline" size="large" color="primary"></ion-icon>
              </ion-avatar>
              <ion-label>
                <ion-button fill="clear" (click)="showCreate()">{{ 'MODAL_AGENCY_MODAL.CREATE_NEW'  | translate }}</ion-button>
              </ion-label>

            </ion-item>  
      
          </ion-item-group>
          
          
        </div>
      </div>
    </div>
  </div>
</ion-content>
