<ion-content>
  <ion-slides pager="true" [options]="slideOpts" style="height: 300px;">
    <ion-slide class="border" *ngFor="let item of picsList" style="margin-right: 10px;">
      <div [ngStyle]="{'background-image':'url('+item+')'}" style="background-position: center; background-size: cover;height: 100%; width: 100%;"></div>
    </ion-slide>
  </ion-slides>
  <div class="row ion-padding">
    <div class="col-12" style="text-align: center;">
      <h3> 2014  5 places</h3>
      <h1 style="margin-top: 5px; margin-bottom: 5px;">{{data['brand'].toUpperCase()}} {{data['model'].toUpperCase()}}</h1>
      <ion-icon [attr.name]="data['Revs'] < 1 ? 'star-outline' : 'star' " color="warning"></ion-icon>
      <ion-icon [attr.name]="data['Revs'] < 2 ? 'star-outline' : 'star' " color="warning"></ion-icon>
      <ion-icon [attr.name]="data['Revs'] < 3 ? 'star-outline' : 'star' " color="warning"></ion-icon>
      <ion-icon [attr.name]="data['Revs'] < 4 ? 'star-outline' : 'star' " color="warning"></ion-icon>
      <ion-icon [attr.name]="data['Revs'] < 5 ? 'star-outline' : 'star' " color="warning"></ion-icon>
    </div>
    
  </div>
  
  <div style="width: 100%; margin: 0 auto; text-align: center; position: absolute; bottom: 0; " class="border">
    <h1 style="font-size: 40px;">{{days*data['pricePerDay']}}€</h1>
    <h5>POUR {{this.days}} JOUR<span *ngIf="this.days > 1">S</span></h5>
    <ion-button size="large" expand="block" (click)="reserverCar()">
      <ion-icon name="calendar" slot="start"></ion-icon>
      Réserver
    </ion-button>
  </div>

</ion-content>