<ion-header>
  <ion-toolbar class="header-wrapper container" >
    <ion-title slot="start" class="header-title"  no-padding>
      BridgeDz
    </ion-title>
    

    <ion-buttons slot="end" class="header-buttons">
        <ion-chip>
            <ion-avatar>
              <img src="{{this.glb.hostServer + glb.user.pic}}">
            </ion-avatar>
            <ion-label class="ion-hide-md-down">{{glb.user.lname}}</ion-label>
            <ion-label (click)="presentPopover($event)">
              <ion-icon name="arrow-dropdown"></ion-icon>
            </ion-label>
        </ion-chip>
        <ion-buttons slot="end" style="margin-right: 20px; order:9;">
            <img src="{{ this.path_lang }}">
            <ion-label (click)="selectLang($event)">
              <ion-icon name="arrow-dropdown"></ion-icon>
            </ion-label>
        </ion-buttons>
        
      <ion-button size="small">
        Des Questions?
      </ion-button>
      <ion-button expand="full" size="small" color="primary" fill="solid">
        <span class="ion-padding">Louer undddde voitures</span>
      </ion-button>
   </ion-buttons>
  </ion-toolbar>
  
  <ion-toolbar class="navbar2">
    <div class="container navbar navbar-light navbar-expand-lg">
          <button class="navbar-toggler" id="respMenu" (click)="ToggleRespMenu('respMenu')" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active" [routerLink]="['/client/accueil']" id="accueil" (click)="ToggleRespMenu('accueil')">
                <span class="nav-link">Accueil <span class="sr-only">(current)</span></span>
              </li>
              <li class="nav-item" [routerLink]="['/client/mplocations']" (click)="ToggleRespMenu('mplocations')" id="mplocations">
                <span class="nav-link"  > Mes Prochaines Locations </span>
              </li>
              <li class="nav-item" [routerLink]="['/client/historique']" id="historique" (click)="ToggleRespMenu('historique')">
                  <span class="nav-link" href="#"> Historique </span>
              </li>
              <li class="nav-item" [routerLink]="['/client/cnotifications']" id="cnotifications" (click)="ToggleRespMenu('cnotifications')">
                <span class="nav-link">Notifications <ion-badge color="primary" slot="end" size="small" *ngIf="this.glb.unreadNotif > 0">{{this.glb.unreadNotif}}</ion-badge></span>
              </li>
              <li class="nav-item" [routerLink]="['/client/monprofile']" id="monprofile" (click)="ToggleRespMenu('monprofile')">
                  <span class="nav-link">Mon Compte</span>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
               <!-- <ion-button expand="full" [routerLink]="['/agency']" routerLinkActive="router-link-active"  routerDirection="forward" color="light" >  Mes Agences </ion-button> -->
               <ion-button expand="full" (click)="showAgencyModal()"  color="light" >  Mes Agences </ion-button>
            </form>
          </div>
        </div>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-router-outlet id="content" main>


</ion-router-outlet>
</ion-content>
