<ion-content>
  <div class="ion-padding">
    <h1 style="padding:30px; background-color:#f1f1f1;"> {{ 'DEMANDLOC.MSG_1'  | translate }} </h1>
      <ion-item *ngFor="let item of this.glb.AgencyLogData.demandeLoc; let i = index;" [attr.class]="item.isread === '1' ? 'item-read' : ''"  id="item-dem-{{item.id}}">
        <ion-icon [attr.name]="item.isread === '1' ? 'radio-button-on-outline' : 'radio-button-off-outline'" slot="start" class="noti-notread" (click)="setRead(item.id)" class="itemicon"></ion-icon>
        <ion-label>
          <h1>{{item.brand+' '+item.model}}</h1>
        
          <p>{{ 'DEMANDLOC.FROM'  | translate }}: {{item.startDate}}</p>
          <p>{{ 'DEMANDLOC.TO'  | translate }}: {{item.startDate}}: {{item.endDate}}</p>
          <!-- <p>Durée: {{item.duree}}</p> -->
          <p>{{ 'DEMANDLOC.PRICE'  | translate }}: {{item.startDate}}: {{item.totalPrice}}</p>
          <!-- <p>Rendez-vous: {{item.rdv}}</p> -->
          <!-- <p>Ancienneté du permis: {{item.apermis}}</p> -->
          <hr>
          <ion-buttons *ngIf="item.status !== '1'">
            <ion-button color="success" (click)="acceptDemand(i)">{{ 'DEMANDLOC.ACCEPT'  | translate }}</ion-button>
            <ion-button color="primary" (click)="rejectDemand(i)">{{ 'DEMANDLOC.REJECT'  | translate }}</ion-button>
          </ion-buttons>
        </ion-label>
      </ion-item>
      <ion-item *ngIf="this.glb.AgencyLogData.demandeLoc.length === 0">
        <ion-label >
          {{ 'DEMANDLOC.MSG_2'  | translate }}
        </ion-label>
      </ion-item>
  </div>
  
</ion-content>
