<ion-grid>
  <ion-row>
    <ion-col size="12" id="slide-container" class="view-high">
     <div class="main-slide">
       <div class="div-overlay">
        
          <ion-row> 


             <ion-col size-lg="4" size-md="12" size-sm="12"  size-xs="12">
               <ion-item class="form-item">
                 <ion-label position="floating">
                  <ion-icon name="search"></ion-icon> {{ 'APP.ADRESS'  | translate }} 
                 </ion-label>
                 <div class="input-container">
                  <ion-input placeholder="{{ 'APP.ADRESS_1'  | translate }} " (ionChange)="updateSearch()" class=""  (click)="$event.stopPropagation()" [(ngModel)]="this.glb.searchQuery.address"></ion-input>
                      <ion-list *ngIf="this.searchResults.length > 0">
                        <ion-item *ngFor="let item of this.searchResults" tappable   (click)="chooseItem(item)">
                          {{ item['display_name'] }}
                        </ion-item>
                      </ion-list>
                      <!--
                        <ion-searchbar [(ngModel)]="autocomplete.query" [showCancelButton]="true"   (ionInput)="updateSearch()" (ionCancel)="dismiss()"></ion-searchbar>
                      -->
                 </div>
                </ion-item>
             </ion-col>



             <ion-col size-lg="3" size-md="12" size-sm="12" size-xs="12" class="searchFormCol">
              <ion-item>
              <ion-item class="datetimepickers">
                <ion-label position="floating">
                  <ion-icon name="calendar"></ion-icon> {{ 'APP.START'  | translate }}  
                </ion-label>
                <div class="input-container">
                  <ion-input  [(ngModel)]="glb.searchQuery.startdate" [liIonic4Datepicker]="datePickerObj" (ionChange)="myFunction()"></ion-input>
                </div>
              </ion-item>
              <ion-item class="datetimepickers">
                <ion-label position="floating">
                  <ion-icon name="Clock"></ion-icon> {{ 'APP.TIME'  | translate }}  
                </ion-label>
                <div class="input-container">
                  <ion-input readonly [(ngModel)]="glb.searchQuery.starttime" [liIonicTimepicker]="timePickerObj" (ionchange)="myFunction()"></ion-input>
                </div>
                </ion-item>
              </ion-item>
             </ion-col>


              <div class="col-3">
              <ion-item class="searchinput"> 
                <ion-item class="datetimepickers">
                    <ion-label position="floating">
                      <ion-icon name="calendar"></ion-icon> {{ 'APP.END'  | translate }}   
                    </ion-label>
                    <div class="input-container">
                           <!-- [disabled]="isDOBDisable"  -->
                      <ion-input   [(ngModel)]="glb.searchQuery.enddate" [liIonic4Datepicker]="datePickerObj_end" (ionChange)="myFunction_end()"></ion-input>
                    </div>
                  </ion-item>
                  <ion-item class="datetimepickers">
                    <ion-label position="floating">
                      <ion-icon name="Clock"></ion-icon> {{ 'APP.TIME'  | translate }}
                    </ion-label>
                    <div class="input-container">
                      <ion-input readonly [(ngModel)]="glb.searchQuery.endtime" [liIonicTimepicker]="timePickerObj" (ionChange)="myFunction()"></ion-input>
                    </div>
                  </ion-item>
                </ion-item>
              <!-- <input type="text" class="form-control searchinput" placeholder="Last name"> -->
              </div>

            <ion-col>  
              <button color="primary" expand="full" (click)="gotosearch()" padding style="height: 100%; width: 100%; font-size: 1.2rem; border-radius:10px !important; background-color: var(--ion-color-primary); color: white;">{{ 'APP.SEARCH'  | translate }} </button>
            </ion-col>

           </ion-row>

         
       </div>
     </div>
    </ion-col></ion-row></ion-grid>