<ion-content class="ion-padding">
  <h1 align="center"> {{this.glb.cars?.length}}  Voitures </h1>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-12 ion-margin" style="border-bottom: 1px solid silver; padding:0px; padding-bottom: 10px;">
          <ion-button (click)="showAddCarModal()" [attr.expand]="this.ismobile ? 'full' : ''"> {{ 'CAR.ADD_CAR'  | translate }}</ion-button>
          <ion-button fill="outline" (click)="showAccessHoursModal()">{{ 'CAR.MANAGE_AGENCY'  | translate }}</ion-button>
        </div>
      </div>
      <!-- Cars -->
      <div class="row" *ngIf="this.glb.cars.length === 0">
        <div class="col-lg-3 col-md-12">
          <p>{{ 'CAR.MSG'  | translate }}</p>
        </div>
       
      </div>
      <div class="row" *ngFor="let item of this.glb.cars; let i = index;">
        <div class="col-lg-3 col-md-12">
          <ion-img src="{{getFrontPic(item)}}"></ion-img>
        </div>
        <div class="col-lg-5 col-md-12">
          <h3>{{item['brand'].toUpperCase() + ' ' + item['model'].toUpperCase()}}</h3>
          <span>
              <ion-icon name="star" color="warning"></ion-icon>
              <ion-icon name="star" color="warning"></ion-icon>
              <ion-icon name="star" color="warning"></ion-icon>
              <ion-icon name="star" color="warning"></ion-icon>
              <ion-icon name="star" color="warning"></ion-icon>
          </span>
          <p> ..... </p>
          <ion-button fill="outline" color="warning" (click)="showCarAvailModal(i)">
            <ion-icon name="calendar" slot="start"></ion-icon>
            {{ 'CAR.MANAGE_CAR'  | translate }}
          </ion-button>
          <ion-button fill="outline" color="success" (click)="modifyCar(i)">
            <ion-icon name="checkmark" slot="start"></ion-icon>
            {{ 'CAR.MODIFY_CAR_INFO'  | translate }}
          </ion-button>
          <ion-button fill="outline" color="success" (click)="validateCar(i)">
            <ion-icon name="checkmark" slot="start"></ion-icon>
            {{ 'CAR.VALIDATE_CAR'  | translate }}
          </ion-button>
        </div>
        <div *ngIf="item['status'] === '0'" class="col-lg-4 col-md-12">
          <ion-card class="" style="border-left: 3px solid red;">
            <ion-card-header>
              <ion-title>
                <ion-icon name="hourglass" slot="start"> </ion-icon>
                {{ 'CAR.NOT_VALIDATE'  | translate }}
              </ion-title>
              
            </ion-card-header>
            <ion-card-content>
              {{ 'CAR.MSG_1'  | translate }}
            </ion-card-content>
          </ion-card>
        </div>
        <div *ngIf="item['status'] === '1'" class="col-lg-4 col-md-12">
          <ion-card class="" style="border-left: 3px solid green;">
            <ion-card-header>
              <ion-title>
                <ion-icon name="hourglass" slot="start"> </ion-icon>
                {{ 'CAR.VALIDATE'  | translate }}
              </ion-title>
              
            </ion-card-header>
            <ion-card-content>
              {{ 'CAR.MSG_2'  | translate }}
            </ion-card-content>
          </ion-card>
        </div>
        <div *ngIf="item['status'] === '4'" class="col-lg-4 col-md-12">
          <ion-card class="" style="border-left: 3px solid rgb(16, 2, 94);">
            <ion-card-header>
              <ion-title>
                <ion-icon name="hourglass" slot="start"> </ion-icon>
                {{ 'CAR.IN_REVIEW'  | translate }}
              </ion-title>
              
            </ion-card-header>
            <ion-card-content>
              {{ 'CAR.MSG_3'  | translate }}
            </ion-card-content>
          </ion-card>
        </div>
        <div *ngIf="item['status'] === '5'" class="col-lg-4 col-md-12">
          <ion-card class="" style="border-left: 3px solid rgb(0, 114, 104);">
            <ion-card-header>
              <ion-title>
                <ion-icon name="hourglass" slot="start"> </ion-icon>
                {{ 'CAR.REJECTED'  | translate }}
              </ion-title>
              
            </ion-card-header>
            <ion-card-content>
              {{ 'CAR.MSG_4'  | translate }}
            </ion-card-content>
          </ion-card>
        </div>
        <ion-item-divider style="margin-bottom: 40px;" ></ion-item-divider>
      </div>

      


      <!-- Cars End -->
    </div>
  </div>
</ion-content>