<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Modifier les horaires d'acces
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-toolbar color="light">
    <ion-title>
      {{ 'MODAL_AH.DAY'  | translate }} 
    </ion-title>
  </ion-toolbar>
  <ion-row class="ion-padding">
    <ion-col>
      <ion-radio-group id="vitesse" [(ngModel)]="data.alldays">
        <ion-item>
          <ion-label>{{ 'MODAL_AH.ALWAYS'  | translate }} </ion-label>
          <ion-radio slot="start" value="all" checked (ionSelect)="toggleDays('all')"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>{{ 'MODAL_AH.ALWAYS'  | translate }}</ion-label>
          <ion-radio slot="start" value="specific" (ionSelect)="toggleDays('specific')" ></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-col>
  </ion-row>
  <ion-row class="ion-padding">
    
    <ion-col>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">{{ 'MODAL_AH.FROM'  | translate }}</div>
        </div>
        <select class="form-control" id="daysde" disabled [(ngModel)]="data.startdate"> 
          <option selected value="samedi">{{ 'MODAL_AH.SATURDAY'  | translate }}</option>
          <option value="dimanche">{{ 'MODAL_AH.SUNDAY'  | translate }}</option>
          <option value="lundi">{{ 'MODAL_AH.MONDAY'  | translate }}</option>
          <option value="mardi">{{ 'MODAL_AH.TUESDAY'  | translate }}</option>
          <option value="mercredi">{{ 'MODAL_AH.WENDNESDAY'  | translate }}</option>
          <option value="jeudi">{{ 'MODAL_AH.THURSDAY'  | translate }}</option>
          <option value="vendredi">{{ 'MODAL_AH.FRIDAY'  | translate }}</option>
        </select>
      </div>
        
      
    </ion-col>
    <ion-col>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">{{ 'MODAL_AH.TO'  | translate }}</div>
        </div>
        <select class="form-control" id="daysa" disabled [(ngModel)]="data.enddate">
          <option value="samedi">{{ 'MODAL_AH.SATURDAY'  | translate }}</option>
          <option value="dimanche">{{ 'MODAL_AH.SUNDAY'  | translate }}</option>
          <option value="lundi">{{ 'MODAL_AH.MONDAY'  | translate }}</option>
          <option value="mardi">{{ 'MODAL_AH.TUESDAY'  | translate }}</option>
          <option value="mercredi">{{ 'MODAL_AH.WENDNESDAY'  | translate }}</option>
          <option value="jeudi">{{ 'MODAL_AH.THURSDAY'  | translate }}</option>
          <option value="vendredi" selected>{{ 'MODAL_AH.FRIDAY'  | translate }}</option>
        </select>
      </div>
      
    </ion-col>
  </ion-row>
  <ion-toolbar color="light">
    <ion-title>
      {{ 'MODAL_AH.HOURS'  | translate }}
    </ion-title>
  </ion-toolbar>
  <ion-row class="ion-padding">
    <ion-col>
      
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">{{ 'MODAL_AH.FROM'  | translate }}</div>
        </div>
        <ion-datetime class="form-control" displayFormat="HH:mm" value="12:00" [(ngModel)]="data.starttime"></ion-datetime>    
      </div>
      
    </ion-col>

    <ion-col>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">{{ 'MODAL_AH.TO'  | translate }}</div>
        </div>
        <ion-datetime class="form-control" displayFormat="HH:mm" value="12:00" [(ngModel)]="data.endtime"></ion-datetime>    
      </div>
      
    </ion-col>
  </ion-row>
  <ion-row>
    
  </ion-row>

</ion-content>
<ion-footer >
  <ion-toolbar>
    <ion-buttons slot="end" class="ion-padding">
      <ion-button color="primary" (click)="saveChanges()"> 
        {{ 'MODAL_AH.UPDATE'  | translate }}
      </ion-button>
    </ion-buttons>
      
  </ion-toolbar>
</ion-footer>
