<ion-content class="ion-padding">
    <h1 style="padding:30px; background-color:#f1f1f1;">Mes Locations</h1>
    <div class="row">
      <div class="col-12">
        <!-- Cars -->
        <div class="row">
          <div class="col-lg-3 col-md-12">
            <ion-img src="assets/images/clio.jpg"></ion-img>
          </div>
          <div class="col-lg-5 col-md-12">
            <h3>Renault Clio</h3>
            <span>
                <ion-icon name="star" color="warning"></ion-icon>
                <ion-icon name="star" color="warning"></ion-icon>
                <ion-icon name="star" color="warning"></ion-icon>
                <ion-icon name="star-outline" color="warning"></ion-icon>
                <ion-icon name="star-outline" color="warning"></ion-icon>
            </span>
            <p> sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
            <h3>200 €</h3>
            <ion-button  color="success" disabled>
              <ion-icon name="checkmark" slot="start"></ion-icon>
              Payé
            </ion-button>
  
          </div>
        </div>
  
        <ion-item-divider style="margin-bottom: 40px;" ></ion-item-divider>
  
        <div class="row">
            <div class="col-lg-3 col-md-12">
              <ion-img src="assets/images/clio.jpg"></ion-img>
            </div>
            <div class="col-lg-5 col-md-12">
              <h3>Renault Clio</h3>
              <span>
                  <ion-icon name="star" color="warning"></ion-icon>
                  <ion-icon name="star" color="warning"></ion-icon>
                  <ion-icon name="star" color="warning"></ion-icon>
                  <ion-icon name="star" color="warning"></ion-icon>
                  <ion-icon name="star" color="warning"></ion-icon>
              </span>
              <p> sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
              <h3>200 €</h3>
              <ion-button color="primary" disabled>
                <ion-icon name="clock" slot="start"></ion-icon>
                Non Payé
              </ion-button>
    
            </div>
          </div>
  
        <!-- Cars End -->
      </div>
    </div>
  </ion-content>