<ion-content class="ion-padding">
  <div class="container">
  <h1 style="padding:30px; background-color:#f1f1f1;">{{ 'PROFIL.MY_PROFIL'  | translate }} </h1>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" (click)="setTabVal('edit')">
        <span class="nav-link" [ngClass]="{'active': showTab('edit')}" id="edit-tab" data-toggle="tab" href="#edit" role="tab" aria-controls="edit" aria-selected="true">{{ 'PROFIL.MODIFY_PROFIL'  | translate }}</span>
      </li>
      <li class="nav-item" (click)="setTabVal('edit_pass')">
        <span class="nav-link" [ngClass]="{'active': showTab('edit_pass')}" id="edit_pass-tab" data-toggle="tab" href="#edit_pass" role="tab" aria-controls="edit_pass" aria-selected="false">{{ 'PROFIL.CHANGE_PWD'  | translate }}</span>
    </li>
      <li class="nav-item" (click)="setTabVal('verify')">
        <span class="nav-link" [ngClass]="{'active': showTab('verify')}" id="verify-tab" data-toggle="tab" href="#verify" role="tab" aria-controls="verify" aria-selected="false">{{ 'PROFIL.VERIFY_PROFIL'  | translate }}</span>
      </li>
      <li class="nav-item" (click)="setTabVal('param')">
        <span class="nav-link" [ngClass]="{'active': showTab('param')}" id="param-tab" data-toggle="tab" href="#param" role="tab" aria-controls="param" aria-selected="false">{{ 'PROFIL.ACCOUMPT_PARAM'  | translate }}</span>
      </li>
      <li class="nav-item" (click)="setTabVal('pay')">
          <span class="nav-link" [ngClass]="{'active': showTab('pay')}" id="pay-tab" data-toggle="tab" href="#pay" role="tab" aria-controls="pay" aria-selected="false">{{ 'PROFIL.CHECKOUT_PAIM'  | translate }}</span>
      </li>
    </ul>


    <div class="tab-content" id="myTabContent">

      <!--                                                                     EDIT                                                                   -->
      <div class="tab-pane fade"  [ngClass]="{'active show': showTab('edit')}" id="edit" role="tabpanel" aria-labelledby="edit-tab">
        <div class="mt-5 p-1">
            <div style="width: fit-content; margin: 0 auto;" >
                <img src="{{ this.glb.hostServer + this.glb.user.pic }}" width="250" id="changeprofilepic"/>
                
                <ion-button expand="full" class=" ion-no-margin" style="position: relative; bottom: 35px;" (click)="changepic()">{{ 'PROFIL.MP_CHANGE_PICTURE'  | translate }}</ion-button>
               <input type="file" id="changepichandler" style="display: none;" (ionChange)="this.changepicUrl()">
            </div>
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">{{ 'PROFIL.MP_CONTACT_LOGIN'  | translate }}</legend>
                <div class="form-row mt-3">
                    <div class="form-group col-md-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                              <div class="input-group-text">
                                <ion-icon name="mail"></ion-icon>
                              </div>
                            </div>
                            <input type="email" class="form-control" id="Email" placeholder="{{'PROFIL.MP_EMAIL'  | translate }}" value="{{glb.user.email}}"[(ngModel)]="usertmp.email" disabled>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                              <div class="input-group-text">
                                  <ion-icon name="phone-portrait"></ion-icon>
                              </div>
                            </div>
                            <input type="text" class="form-control" id="Mobile" placeholder="{{'PROFIL.MP_MOBILE'  | translate }}" value="{{glb.user.phoneNumber}}" [(ngModel)]="usertmp.phoneNumber">
                        </div>
                    </div>
                  </div>
                  <div class="form-row">
                      <div class="form-group col-md-6">
                          <div class="input-group">
                              <div class="input-group-prepend">
                                <div class="input-group-text">
                                  <ion-icon name="person"></ion-icon>
                                </div>
                              </div>
                              <input type="text" class="form-control" id="usernameid" placeholder="{{'PROFIL.MP_USERNAME'  | translate }}" value="{{glb.user.username}}" [(ngModel)]="usertmp.username">
                          </div>
                      </div>
                      <div class="form-group col-md-6">
                          <div class="input-group">
                              <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <ion-icon name="map"></ion-icon>
                                </div>
                              </div>
                              <input type="text" class="form-control" id="adresse" placeholder="{{'PROFIL.MP_ADRESS'  | translate }}" (ngModelChange)="updateSearch()" value="{{this.glb.user.address}}" (click)="$event.stopPropagation()" [(ngModel)]="usertmp.address" >
                            </div>
                              <ion-list *ngIf="this.searchResults.length > 0">
                                <ion-item *ngFor="let item of this.searchResults" tappable   (click)="chooseItem(item)">
                                  {{ item['display_name'] }}
                                </ion-item>
                              </ion-list>
                          
                      </div>
                    </div>
                    
            </fieldset>
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">{{'PROFIL.MP_PERSONAL_INFO'  | translate }}</legend>
            
          <div class="form-row mt-3">
            <div class="form-group col-md-6">
              <input type="text" class="form-control" id="lnameid" placeholder="{{'PROFIL.MP_FN'  | translate }}" value="{{glb.user.lname}}" [(ngModel)]="usertmp.lname">
            </div>
            <div class="form-group col-md-6">
              <input type="text" class="form-control" id="fnameid" placeholder="{{'PROFIL.MP_SN'  | translate }}" value="{{glb.user.fname}}" [(ngModel)]="usertmp.fname">
            </div>
          </div>
          <div class="form-row">
              <div class="form-group col-md-6">
                  <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                            <ion-icon name="calendar"></ion-icon>
                        </div>
                      </div>
                      <ion-datetime class="form-control" (ionChange)="changedDOB()" id="dobid" placeholder="{{'PROFIL.MP_DOB'  | translate }}" displayFormat="YYYY-MM-DD" [(ngModel)]="usertmp.dob"></ion-datetime>
                  </div>
              </div>
              <div class="form-group col-md-6">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <ion-icon name="navigate"></ion-icon>
                    </div>
                  </div>
                <input type="text" class="form-control" id="pobid" placeholder="{{'PROFIL.MP_POB'  | translate }}" [(ngModel)]="usertmp.pob">
              </div>
            </div>
          </div>
          
          
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="apropos">{{'PROFIL.MP_DESCRIPTION'  | translate }}</label>
              <textarea class="form-control" placeholder="{{'PROFIL.MP_ABOUT'  | translate }}" id="apropos" rows="5" [(ngModel)]="usertmp.propos"> {{glb.user.propos}} </textarea>
            </div>
          </div>
          
        </fieldset>
        <ion-button color="primary" expand="block" (click)="UpdateProfile()">{{'PROFIL.VP_UPDATE'  | translate }}</ion-button>
        </div>
      </div>

      <!--                                                                     PASSWORD CONFIRM                                                         -->
      
      <div class="tab-pane fade" id="edit_pass"  [ngClass]="{'active show': showTab('edit_pass')}"  role="tabpanel" aria-labelledby="edit_pass-tab">
        <form class="mt-5 p-1">
          <fieldset class="scheduler-border">
            <legend class="scheduler-border">{{'PROFIL.PWD_CHANGE_PWD'  | translate }}</legend>      
            <div class="form-row">
              <div class="form-group col-md-12">
                <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <ion-icon src="../../../assets/icons/password_filled.svg"></ion-icon>
                      </div>
                    </div>
                    <input class="form-control" type="password"  id= "old_password" name ="old_password" placeholder="{{'PROFIL.PWD_PWD'  | translate }}"  [(ngModel)]="password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" required/>
                </div>
            </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <ion-icon src="../../../assets/icons/password.svg"></ion-icon>
                      </div>
                    </div>
                    <input class="form-control" type="password" id= "new_password" name ="new_password" placeholder="{{'PROFIL.PWD_NEW_PWD'  | translate }}" [(ngModel)]="new_password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" required/>
                </div>
            </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <ion-icon src="../../../assets/icons/password.svg"></ion-icon>
                      </div>
                    </div>
                    <input class="form-control" type="password" id= "pwd_confirm" name ="pwd_confirm" placeholder="{{'PROFIL.PWD_NEW_C_PWD'  | translate }}"  [(ngModel)]="password_confirm" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" required/>
                </div>
            </div>
            </div>
          </fieldset>
            <ion-button color="primary" expand="block" (click)="updatePassword()">{{'PROFIL.PWD_CHANGE'  | translate }}</ion-button>
        </form>
    </div>

      <!--                                                                     VERIFY                                                                   -->
      <div class="tab-pane fade" id="verify" [ngClass]="{'active show': showTab('verify')}" role="tabpanel" aria-labelledby="verify-tab">
          <div class="mt-5 p-1">
            <div class="login-input alert alert-warning" *ngIf="this.glb.user.status_verified === '0'" role="alert" id="loginerror">
              {{'PROFIL.VP_REMINDER'  | translate }}
            </div>
            <div class="login-input alert alert-success" *ngIf="this.glb.user.status_verified === '1'" role="alert">
              {{'PROFIL.VP_VERIFIED'  | translate }}
            </div>
            <div class="login-input alert alert-success" *ngIf="this.glb.user.status_verified === '4'" role="alert">
              {{'PROFIL.VP_REVIEW'  | translate }}
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="permisID">{{'PROFIL.VP_LICENSE_ID'  | translate }} (<strong>ID</strong>)</label>
                <input class="form-control" type="text" placeholder="{{'PROFIL.VP_LICENSE_ID_PH'  | translate }}" value="{{this.verifyAccData.lid}}" [(ngModel)]="this.verifyAccData.lid"/>
              </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                              <ion-icon name="calendar"></ion-icon>
                          </div>
                        </div>
                        <ion-datetime class="form-control" placeholder="{{'PROFIL.VP_EXPIRATION_Date'  | translate }}" value="{{verifyAccData.dateo}}" [(ngModel)]="verifyAccData.dateo" [min]="this.util.gettodayISOString()" [max]="this.util.getfuturString()"></ion-datetime>
                    </div>
                </div>
                <div class="form-group col-md-6">
                  <select class="form-control" id="inputPassword4" value="{{verifyAccData.payso}}" [(ngModel)]="verifyAccData.payso">
                    <option value="0" selected>{{'PROFIL.VP_EXPIRATION_COUNTRY'  | translate }}</option>
                    <option value="algeria">{{'PROFIL.ALGERIA'  | translate }}</option>
                    <option value="france">{{'PROFIL.FRANCE'  | translate }}</option>
                  </select>
                </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="permisFile">{{'PROFIL.VP_LICENSE_JOIN'  | translate }} </label>
              </div>
              <div class="form-group col-md-6">
                <ion-button color="light" expand="full" (click)="changepic2( 'rectoImg' , 'rectoid')">
                  <ion-icon name="add" slot="start"></ion-icon>
                  {{'PROFIL.VP_LICENSE_FRONT'  | translate }} 
                </ion-button>
                <img src="{{ this.glb.hostServer + this.glb.user.licenseRecot }}"  id="rectoImg" />
                <input type="file"  id="rectoid" class="form-control" style="display: none;" />
              </div>
              <div class="form-group col-md-6">
                <ion-button color="light" expand="full" (click)="changepic2( 'versoImg' , 'versoid')">
                  <ion-icon name="add" slot="start"></ion-icon>
                  {{'PROFIL.VP_EXPIRATION_BACK'  | translate }} 
                </ion-button>
                <img src="{{ this.glb.hostServer + this.glb.user.licenseVerso }}"  id="versoImg" /> 
                <input type="file"  id="versoid" class="form-control" style="display: none;" />
              </div>
            </div>
            <ion-button color="primary" expand="block" (click)="VerifyAccount()">{{'PROFIL.VP_UPDATE'  | translate }} </ion-button>
          </div>
      </div>
      

    <!--                                                                     PARAM                                                                   -->  
      <div class="tab-pane fade" id="param"  [ngClass]="{'active show': showTab('param')}" role="tabpanel" aria-labelledby="param-tab">
          <div class="mt-5 p-1">
            <div class="form-row">
              <div class="form-group col-md-6"></div>
              <div class="form-group col-md-2">{{'PROFIL.AP_EMAIL'  | translate }}</div>
              <div class="form-group col-md-2">{{'PROFIL.AP_SMS'  | translate }}</div>
              <div class="form-group col-md-2">{{'PROFIL.AP_NOTIF'  | translate }}</div>
            </div>
            <ion-item-divider></ion-item-divider>
            <br>
            <div class="form-row">
                <div class="form-group col-md-6">{{'PROFIL.AP_RENTING_REQUEST'  | translate }}</div>
                <div class="form-group col-md-2"><ion-toggle [(ngModel)]="this.glb.accparams.demandlocation[0]"></ion-toggle></div>
                <div class="form-group col-md-2"><ion-toggle [(ngModel)]="this.glb.accparams.demandlocation[1]"></ion-toggle></div>
                <div class="form-group col-md-2"><ion-toggle [(ngModel)]="this.glb.accparams.demandlocation[2]"></ion-toggle></div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">{{'PROFIL.AP_RENTING_REQUEST_RELUNCH'  | translate }}</div>
                <div class="form-group col-md-2"><ion-toggle [(ngModel)]="this.glb.accparams.redemandlocation[0]"></ion-toggle></div>
                <div class="form-group col-md-2"><ion-toggle [(ngModel)]="this.glb.accparams.redemandlocation[1]"></ion-toggle></div>
                <div class="form-group col-md-2"><ion-toggle [(ngModel)]="this.glb.accparams.redemandlocation[2]"></ion-toggle></div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">{{'PROFIL.AP_ACCEPTED_RENTING'  | translate }}</div>
                <div class="form-group col-md-2"><ion-toggle [(ngModel)]="this.glb.accparams.locAccept[0]"></ion-toggle></div>
                <div class="form-group col-md-2"><ion-toggle [(ngModel)]="this.glb.accparams.locAccept[1]"></ion-toggle></div>
                <div class="form-group col-md-2"><ion-toggle [(ngModel)]="this.glb.accparams.locAccept[2]"></ion-toggle></div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">{{'PROFIL.AP_CANCLED_RENTING'  | translate }}</div>
                <div class="form-group col-md-2"><ion-toggle [(ngModel)]="this.glb.accparams.loccancel[0]"></ion-toggle></div>
                <div class="form-group col-md-2"><ion-toggle [(ngModel)]="this.glb.accparams.loccancel[1]"></ion-toggle></div>
                <div class="form-group col-md-2"><ion-toggle [(ngModel)]="this.glb.accparams.loccancel[2]"></ion-toggle></div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">{{'PROFIL.AP_RENTING_REMINDER'  | translate }}</div>
                <div class="form-group col-md-2"><ion-toggle [(ngModel)]="this.glb.accparams.locrappel[0]"></ion-toggle></div>
                <div class="form-group col-md-2"><ion-toggle [(ngModel)]="this.glb.accparams.locrappel[1]"></ion-toggle></div>
                <div class="form-group col-md-2"><ion-toggle [(ngModel)]="this.glb.accparams.locrappel[2]"></ion-toggle></div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">{{'PROFIL.AP_PROMO_EMAIL'  | translate }}</div>
                <div class="form-group col-md-2"><ion-toggle [(ngModel)]="this.glb.accparams.emailpromo[0]"></ion-toggle></div>
                <div class="form-group col-md-2"><ion-toggle [(ngModel)]="this.glb.accparams.emailpromo[1]"></ion-toggle></div>
                <div class="form-group col-md-2"><ion-toggle [(ngModel)]="this.glb.accparams.emailpromo[2]"></ion-toggle></div>
            </div>
            <ion-item-divider></ion-item-divider>
            <br>
            <ion-button color="primary" expand="block" (click)="accParamsUpdate()">{{'PROFIL.VP_UPDATE'  | translate }}</ion-button>
          </div>
          
      </div>
      <!--                                                                     pay                                                                   -->  
      <div class="tab-pane fade" id="pay"  [ngClass]="{'active show': showTab('pay')}"  role="tabpanel" aria-labelledby="pay-tab">{{'PROFIL.AP_CANCLED_RENTING'  | translate }}</div>
    </div>
  </div>
</ion-content>