
<ion-content >
  <div class="container" style="padding-top: 280px;">
    <div class="row">
      <div class="col-3">
        <ion-card style="background-color: white;">
          <ion-card-content>
            <ion-item-group class="ion-padding">
              <h2>{{ 'SEARCH.PRICE'  | translate }}</h2>
              <ion-item>
                <ion-range dualKnobs="true" pin="true" [(ngModel)]="searchFilter.price" snaps="true" min="0" max="200" step="2" (ionChange)="myFunction()">
                  <ion-icon size="small" slot="start" name="remove-circle-outline"></ion-icon>
                  <ion-icon size="small" slot="end" name="add-circle-outline"></ion-icon>
                </ion-range>
              </ion-item>
            </ion-item-group>
           
            <div class="ion-padding">
              <h2 style="margin-bottom: 20px;">{{ 'SEARCH.SPEED'  | translate }}</h2>
              
                <ion-radio-group id="vitesse" [(ngModel)]="searchFilter.moteur" (ionChange)="myFunction()"> 
                  <ion-item>
                    <ion-label>{{ 'SEARCH.MANUAL'  | translate }}</ion-label>
                    <ion-radio slot="start" value="manuelle" checked></ion-radio>
                  </ion-item>
              
                  <ion-item>
                    <ion-label>{{ 'SEARCH.AUTO'  | translate }}</ion-label>
                    <ion-radio slot="start" value="automatique" ></ion-radio>
                  </ion-item>

                  <ion-item>
                    <ion-label>{{ 'SEARCH.BOTH'  | translate }}</ion-label>
                    <ion-radio slot="start" value="all" ></ion-radio>
                  </ion-item>
                  
                </ion-radio-group>
              
            </div>
            <div class="ion-padding">
              <h2 style="margin-bottom: 20px;">{{ 'SEARCH.OPTIONS'  | translate }}</h2>
              <ion-list>
                <ion-item>
                  <label>{{ 'SEARCH.AC'  | translate }}</label>
                  <ion-checkbox slot="end" [(ngModel)]="searchFilter.clim" (ionChange)="myFunction()"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <label>{{ 'SEARCH.REGULATOR'  | translate }}</label>
                  <ion-checkbox slot="end" [(ngModel)]="searchFilter.rv" (ionChange)="myFunction()"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <label>{{ 'SEARCH.GPS'  | translate }}</label>
                  <ion-checkbox slot="end" [(ngModel)]="searchFilter.gps" (ionChange)="myFunction()"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <label>{{ 'SEARCH.BABY'  | translate }}</label>
                  <ion-checkbox slot="end" [(ngModel)]="searchFilter.sb" (ionChange)="myFunction()"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <label>{{ 'SEARCH.MULTIMEDIA'  | translate }}</label>
                  <ion-checkbox slot="end" [(ngModel)]="searchFilter.lc" (ionChange)="myFunction()"></ion-checkbox>
                </ion-item>
              </ion-list>
            </div>
            
          </ion-card-content>
        </ion-card>
      </div>
      <div class="col-9" *ngIf="isLoading" style="text-align: center; padding-top: 100px;">
        <ion-spinner color="primary"></ion-spinner>
      </div>
    
      <div class="col-9" *ngIf="!isLoading">
        <h4 color="light" class="ion-padding">{{ 'SEARCH.RESULT'  | translate }} 0 - {{glb.cars.length}}</h4>
        <div class="alert alert-info" role="alert" *ngIf="glb.cars.length === 0">
          {{ 'SEARCH.NO_FOUND'  | translate }}
        </div>
        <div class="row">
          <div class="col-6" *ngFor="let item of glb.cars; let i = index;">
            <ion-card style="background-color: white;" button="true" (click)="reserveCar(i)">
              <ion-card-header [ngStyle]="{'background-image':'url('+getFrontPic(item.FrontPic)+')'}" style="background-position: center; background-size: cover; height: 300px; width: 100%;">
                <!-- <ion-img src="assets/images/clio.jpg"></ion-img> -->
                
                
              </ion-card-header>
            
              <ion-card-content >
                <div class="row ion-padding">
                  <div class="col-6">
                    <ion-card-subtitle> 2014  5 {{ 'APP.PLACES'  | translate }}</ion-card-subtitle>
                    <ion-card-title style="margin-top: 5px; margin-bottom: 5px;">{{item.brand.toUpperCase()}} {{item.model.toUpperCase()}}</ion-card-title>
                    <ion-icon [attr.name]="item.Revs < 1 ? 'star-outline' : 'star' " color="warning"></ion-icon>
                    <ion-icon [attr.name]="item.Revs < 2 ? 'star-outline' : 'star' " color="warning"></ion-icon>
                    <ion-icon [attr.name]="item.Revs < 3 ? 'star-outline' : 'star' " color="warning"></ion-icon>
                    <ion-icon [attr.name]="item.Revs < 4 ? 'star-outline' : 'star' " color="warning"></ion-icon>
                    <ion-icon [attr.name]="item.Revs < 5 ? 'star-outline' : 'star' " color="warning"></ion-icon>
                  </div>
                  <div class="col-6">
                    <div style="float: right; text-align: center;">
                      <h1 style="font-size: 40px; color: black;">{{item.pricePerDay}}€</h1>
                      <h3>{{this.glb.daysdif*item.pricePerDay}}€ {{ 'SEARCH.FOR'  | translate }} {{this.glb.daysdif}} {{ 'SEARCH.DAY'  | translate }}<span *ngIf="this.glb.daysdif > 1">S</span></h3>
                    </div>
                    
                  </div>
                  
                </div>
                
              </ion-card-content>
            </ion-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
