
<ion-header>
  <ion-toolbar class="header-wrapper">
    <ion-title slot="start" class="header-title">
      BridgeDz
    </ion-title>
    

    <ion-buttons slot="end" class="header-buttons">
      <ion-chip *ngIf="this.loginSer.isLoggedIn()">
        <ion-avatar>
          <img src="{{glb.user.pic}}">
        </ion-avatar>
        <ion-label class="ion-hide-md-down">{{glb.user.lname}}</ion-label>
        <ion-label (click)="presentPopover($event)">
          <ion-icon name="arrow-dropdown"></ion-icon>
        </ion-label>
      </ion-chip>
      <ion-button size="small" *ngIf="!this.loginSer.isLoggedIn()"> 
        Se Connecter
      </ion-button>
      <ion-button size="small" *ngIf="!this.loginSer.isLoggedIn()">
        FAQ
      </ion-button>
      <ion-button expand="full" size="small" color="primary" fill="solid">
        <span class="ion-padding">Louer mes voitures</span>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" class="phone-header-buttons">
        <ion-button> Menu <ion-icon name="arrow-dropdown" slot="end"></ion-icon></ion-button>
    </ion-buttons>
    
  </ion-toolbar>
  <ion-toolbar class="navbar2" *ngIf="this.loginSer.isLoggedIn()">
    <div class="container navbar navbar-light navbar-expand-lg">
          <button class="navbar-toggler" id="respMenu"  type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active" [routerLink]="['/client/accueil']" id="accueil" >
                <span class="nav-link">Accueil <span class="sr-only">(current)</span></span>
              </li>
              <li class="nav-item" [routerLink]="['/client/mplocations']"  id="mplocations">
                <span class="nav-link"  > Mes Prochaines Locations </span>
              </li>
              <li class="nav-item" [routerLink]="['/client/historique']" id="historique" >
                  <span class="nav-link" href="#"> Historique </span>
              </li>
              <li class="nav-item" [routerLink]="['/client/cnotifications']" id="cnotifications" >
                <span class="nav-link">Notifications <ion-badge color="primary" slot="end" size="small" *ngIf="this.glb.unreadNotif > 0">{{this.glb.unreadNotif}}</ion-badge></span>
              </li>
              <li class="nav-item" [routerLink]="['/client/monprofile']" id="monprofile" >
                  <span class="nav-link">Mon Compte</span>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
               <!-- <ion-button expand="full" [routerLink]="['/agency']" routerLinkActive="router-link-active"  routerDirection="forward" color="light" >  Mes Agences </ion-button> -->
               <ion-button expand="full" (click)="showAgencyModal()"  color="light" >  Mes Agences </ion-button>
            </form>
          </div>
        </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar color="light">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <ion-item class="form-item searchinput">
            <ion-label position="floating">
             <ion-icon name="search"></ion-icon> Adresse
            </ion-label>
            <div class="input-container">
              <ion-input placeholder="Adresse" class="searchItem" [(ngModel)]="glb.searchQuery.address" (ionChange)="myFunction()"></ion-input>
             </div>
           </ion-item>
          <!-- <input type="text" class="form-control searchinput" placeholder="First name"> -->
        </div>
        <div class="col-3">
          <ion-item class="searchinput">
            <ion-item class="datetimepickers">
              <ion-label position="floating">
                <ion-icon name="calendar"></ion-icon> Debut 
              </ion-label>
              <div class="input-container">
              <ion-input readonly [(ngModel)]="glb.searchQuery.startdate" [liIonic4Datepicker]="datePickerObj" (ionChange)="myFunction()"></ion-input>
              </div>
            </ion-item>
            <ion-item class="datetimepickers">
              <ion-label position="floating">
                <ion-icon name="Clock"></ion-icon> Temps 
              </ion-label>
              <div class="input-container">
                <ion-input readonly [(ngModel)]="glb.searchQuery.starttime" [liIonicTimepicker]="timePickerObj" (ionChange)="myFunction()"></ion-input>
              </div>
              </ion-item>
            </ion-item>
          <!-- <input type="text" class="form-control searchinput" placeholder="Last name"> -->
        </div>
        <div class="col-3">
          <ion-item class="searchinput"> 
            <ion-item class="datetimepickers">
                <ion-label position="floating">
                  <ion-icon name="calendar"></ion-icon> Fin 
                </ion-label>
                <div class="input-container">
                  <ion-input readonly [(ngModel)]="glb.searchQuery.enddate" [liIonic4Datepicker]="datePickerObj" (ionChange)="myFunction()"></ion-input>
                </div>
              </ion-item>
              <ion-item class="datetimepickers">
                <ion-label position="floating">
                  <ion-icon name="Clock"></ion-icon> Temps
                </ion-label>
                <div class="input-container">
                  <ion-input readonly [(ngModel)]="glb.searchQuery.endtime" [liIonicTimepicker]="timePickerObj" (ionChange)="myFunction()"></ion-input>
                </div>
              </ion-item>
            </ion-item>
          <!-- <input type="text" class="form-control searchinput" placeholder="Last name"> -->
        </div>
      </div>
    </div>
    
  </ion-toolbar>
  <div class="container">
    <div class="row">
      <div class="col-3">
        <ion-card style="background-color: white;">
          <ion-card-content>
            <ion-item-group class="ion-padding">
              <h2>Prix</h2>
              <ion-item>
                <ion-range dualKnobs="true" pin="true" [(ngModel)]="searchFilter.price" snaps="true" min="0" max="2000" step="2" (ionChange)="myFunction()">
                  <ion-icon size="small" slot="start" name="remove-circle-outline"></ion-icon>
                  <ion-icon size="small" slot="end" name="add-circle-outline"></ion-icon>
                </ion-range>
              </ion-item>
            </ion-item-group>
           
            <div class="ion-padding">
              <h2 style="margin-bottom: 20px;">Vitesse</h2>
              
                <ion-radio-group id="vitesse" [(ngModel)]="searchFilter.moteur" (ionChange)="myFunction()"> 
                  <ion-item>
                    <ion-label>Manuelle</ion-label>
                    <ion-radio slot="start" value="manuelle" checked></ion-radio>
                  </ion-item>
              
                  <ion-item>
                    <ion-label>Automatique</ion-label>
                    <ion-radio slot="start" value="automatique" ></ion-radio>
                  </ion-item>

                  <ion-item>
                    <ion-label>Peu importe</ion-label>
                    <ion-radio slot="start" value="all" ></ion-radio>
                  </ion-item>
                  
                </ion-radio-group>
              
            </div>
            <div class="ion-padding">
              <h2 style="margin-bottom: 20px;">Equipements</h2>
              <ion-list>
                <ion-item>
                  <label>Climatisation</label>
                  <ion-checkbox slot="end" [(ngModel)]="searchFilter.clim" (ionChange)="myFunction()"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <label>Régulateur de vitesse</label>
                  <ion-checkbox slot="end" [(ngModel)]="searchFilter.rv" (ionChange)="myFunction()"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <label>GPS</label>
                  <ion-checkbox slot="end" [(ngModel)]="searchFilter.gps" (ionChange)="myFunction()"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <label>Siege bébé</label>
                  <ion-checkbox slot="end" [(ngModel)]="searchFilter.sb" (ionChange)="myFunction()"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <label>Lecteur CD</label>
                  <ion-checkbox slot="end" [(ngModel)]="searchFilter.lc" (ionChange)="myFunction()"></ion-checkbox>
                </ion-item>
              </ion-list>
            </div>
            
          </ion-card-content>
        </ion-card>
      </div>
      <div class="col-9" *ngIf="isLoading" style="text-align: center; padding-top: 100px;">
        <ion-spinner color="primary"></ion-spinner>
      </div>
      <div class="col-9" *ngIf="!isLoading">
        <h4 color="light" class="ion-padding">Résultats 1 - {{cars.length}}</h4>
        <div class="row">
          <div class="col-6" *ngFor="let item of cars; let i = index;">
            <ion-card style="background-color: white;" button="true" (click)="reserveCar(i)">
              <ion-card-header [ngStyle]="{'background-image':'url('+getFrontPic(item.FrontPic)+')'}" style="background-position: center; background-size: cover; height: 300px; width: 100%;">
                <!-- <ion-img src="assets/images/clio.jpg"></ion-img> -->
                
                
              </ion-card-header>
            
              <ion-card-content >
                <div class="row ion-padding">
                  <div class="col-6">
                    <ion-card-subtitle> 2014  5 places</ion-card-subtitle>
                    <ion-card-title style="margin-top: 5px; margin-bottom: 5px;">{{item.brand.toUpperCase()}} {{item.model.toUpperCase()}}</ion-card-title>
                    <ion-icon [attr.name]="item.Revs < 1 ? 'star-outline' : 'star' " color="warning"></ion-icon>
                    <ion-icon [attr.name]="item.Revs < 2 ? 'star-outline' : 'star' " color="warning"></ion-icon>
                    <ion-icon [attr.name]="item.Revs < 3 ? 'star-outline' : 'star' " color="warning"></ion-icon>
                    <ion-icon [attr.name]="item.Revs < 4 ? 'star-outline' : 'star' " color="warning"></ion-icon>
                    <ion-icon [attr.name]="item.Revs < 5 ? 'star-outline' : 'star' " color="warning"></ion-icon>
                  </div>
                  <div class="col-6">
                    <div style="float: right; text-align: center;">
                      <h1 style="font-size: 40px; color: black;">{{this.daysdif*item.pricePerDay}}€</h1>
                      <h3>POUR {{this.daysdif}} JOUR<span *ngIf="this.daysdif > 1">S</span></h3>
                    </div>
                    
                  </div>
                  
                </div>
                
              </ion-card-content>
            </ion-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
